body{
font-family: Arial;
background: #4c6ef5;
color: white;
text-align: center;
}

.container{
margin-top: 100px;
}

button{
display:block;
margin:10px auto;
padding:15px;
width:200px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
}

button:hover{
transform: scale(1.05);
}

.hidden{
display:none;
}
